Repository Nesar21/web-weaver: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.js": [
    "eslint --fix",
    "prettier --write"
  ],
  "testing/**/*.js": [
    "eslint --fix",
    "prettier --write"
  ],
  "config/**/*.json": [
    "prettier --write"
  ],
  "testing/ground_truth/**/*.json": [
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ]
}

.
  settings.json
Due: prettier --write

.
  background.js
  manifest.json
  popup.html
  popup.js
  prompts/prompt_v7.txt
  src/utils/ai-extractor.js
Due: eslint --fix, prettier --write

.
  background.js
  manifest.json
  src/utils/ai-extractor.js
  src/utils/schemas.js
  src/utils/validator.js
Due: eslint --fix, prettier --write

.
  .lintstagedrc.json
  background.js
  content.js
  manifest.json
  popup.html
  popup.js
  prompts/prompt_v7.txt
Due: prettier --write

Day 10: updated AI engine and new prompts
  background.js
  content.js
  popup.js
  prompts/prompt_v8_fallback.txt
  prompts/prompt_v8_multi.txt
  src/classifier.js
Due: eslint --fix, prettier --write

Day 10: updated AI engine and new prompts
  background.js
  content.js
  popup.html
  popup.js
Due: none

Day 10: updated AI engine and new prompts
  background.js
  content.js
  prompts/prompt_v8_multi.txt
Due: none

Day 10: updated AI engine and new prompts
  background.js
  src/utils/ai-extractor.js
Due: eslint --fix, prettier --write

🧠 Update: improved AI extraction logic and hybrid engine flow
  src/classifier.js
  src/modules/extraction.js
  src/modules/validation.js
  src/utils/ai-extractor.js
Due: eslint --fix, prettier --write

Update main with local working code
  prompts/prompt_v9_multi.txt
  src/jsonRepair.js
  src/utils/aiConfidence.js
Due: eslint --fix, prettier --write

Sync local codebase with latest working version
  background.js
  content.js
  popup.js
  prompts/prompt_v8_multi.txt
  src/jsonRepair.js
  src/utils/aiConfidence.js
Due: eslint --fix, prettier --write

Sync local codebase with latest working version
  background.js
  popup.js
  src/utils/schemas.js
Due: eslint --fix, prettier --write

Day 12 updates: added multi-mode extraction and improvements
  background.js
  content.js
  importScripts.js
  manifest.json
  popup.html
  popup.js
  src/analytics.js
  src/cache.js
  src/config.js
  src/rateLimit.js
  src/smartAuto.js
Due: eslint --fix, prettier --write

Day 12 updates: added multi-mode extraction and improvements
  background.js
  content.js
  popup.html
  popup.js
  prompts/prompt_v7.txt
  src/config.js
  src/jsonRepair.js
  src/smartAuto.js
Due: eslint --fix, prettier --write

Day 14: added today's updates
  background.js
  content.js
  popup.html
  popup.js
  prompts/prompt_v10_universal.txt
  src/cache.js
  src/classifier.js
  src/smartAuto.js
Due: eslint --fix, prettier --write

feat: latest updates and improvements from day-14
  background.js
  content.js
  docs/README.md
  importScripts.js
  manifest.json
  popup.html
  popup.js
  prompts/prompt_v11_screenshot.txt
  src/analytics.js
  src/classifier.js
  src/config.js
  src/modules/extraction.js
  src/smartAuto.js
Due: eslint --fix, prettier --write

feat: updated local code with latest fixes and improvements
  background.js
  manifest.json
  popup.html
  popup.js
  src/modules/hybridPostprocessor.js
  src/utils/chromeAI.js
Due: eslint --fix, prettier --write

feat: updated Hybrid AI README and improvements
  docs/README.md
Due: prettier --write

Save current state before creating 21-10 branch
  background.js
  docs/README.md
  manifest.json
  popup.html
  popup.js
  prompts/prompt_v10_universal.txt
  src/config.js
Due: eslint --fix, prettier --write

Save current state of 21-10 branch
  background.js
  importScripts.js
  manifest.json
  popup.html
  popup.js
  src/config.js
  src/utils/chrome-ai.js
  src/utils/schemas.js
Due: eslint --fix, prettier --write

Save current state of 21-10 branch
  docs/README.md
Due: prettier --write

Save current state of 21-10 branch
  content.js
Due: none

Save all latest files and updates in 22-10
  background.js
  content.js
  docs/README.md
  importScripts.js
  manifest.json
  popup.html
  popup.js
  src/batch-processor.js
  src/config.js
  src/cost-tracker.js
  src/deduplication-manager.js
  src/insights-generator.js
  src/modules/utils.js
  src/template-manager.js
  src/utils/chrome-ai.js
  src/utils/schemas.js
Due: eslint --fix, prettier --write

Save all latest files and updates in 22-10
  popup.js
Due: none

Save all latest files and updates in 22-10
  background.js
Due: none

Save all latest files and updates in 22-10
  content.js
Due: none

Save all latest files and updates in 22-10
  src/utils/ai-extractor.js
Due: eslint --fix, prettier --write

Save all latest files and updates in 22-10
  background.js
  importScripts.js
  manifest.json
  popup.html
  popup.js
  src/cost-tracker.js
Due: eslint --fix, prettier --write
